# Environments
.env
.venv
/old.env
ENV/
env.bak/
env/
venv.bak/
venv/

# Golang executable
src/staticgen/staticgen
src/staticgen/staticgen.exe
src/staticgen/tmp

# Other
**/.DS_Store
Dockerfile-x

# PEM Files
!rds-combined-ca-bundle.pem
*.pem

# Python Ignores
.mypy_cache
.pytest_cache
.python-version
__pycache__

# Unit test / coverage reports
.coverage
htmlcov/

# VS Code
.vscode/
