# Golang executable
src/staticgen/staticgen
src/staticgen/staticgen.exe
src/staticgen/tmp
deleteme
/old.env
__pycache__
.mypy_cache
.pytest_cache
.python-version
Dockerfile-x

# Unit test / coverage reports
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# DS Store
**/.DS_Store

*.pem
!rds-combined-ca-bundle.pem
