APScheduler==3.9.1
boto3==1.22.5
cognitojwt==1.4.1
dnspython==2.2.1
Faker==13.3.4
Flask==2.0.3
Flask-Cors==3.0.10
gunicorn==20.1.0
marshmallow==3.15.0
mongomock==4.0.0
pymongo==3.12.1
python-whois==0.7.3
requests==2.27.1
validators==0.18.2
