APScheduler==3.8.1
boto3==1.20.41
cognitojwt==1.4.1
dnspython==2.2.0
Faker==11.3.0
Flask==2.0.2
Flask-Cors==3.0.10
gunicorn==20.1.0
marshmallow==3.14.1
mongomock==4.0.0
pymongo==3.12.1
python-whois==0.7.3
requests==2.27.1
validators==0.18.2
