# Flask
FLASK_APP=main
FLASK_ENV=development
DEBUG=1
API_KEY=changeme

# Initialize DB
MONGO_INITDB_ROOT_PASSWORD=rootpassword
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_DATABASE=domain_manager_dev

# MongoDB
DB_HOST=db
DB_PORT=27017
DB_PW=rootpassword
DB_USER=root
MONGO_TYPE=MONGO # Other option is DOCUMENTDB

# AWS SETUP
AWS_ACCESS_KEY_ID=changeme
AWS_SECRET_ACCESS_KEY=changeme
AWS_DEFAULT_REGION=us-east-1
WEBSITE_STORAGE=changeme
WEBSITE_STORAGE_URL=changeme
SOURCE_BUCKET=changeme

# Namecheap Credentials
NC_USERNAME=changeme
NC_API_KEY=changeme
NC_IP=changeme

# Gunicorn
WORKERS=4
