# App
APP_NAME=dm-local
APP_ENV=dev

# Flask
FLASK_APP=api.main
FLASK_DEBUG=1

# Initialize DB
MONGO_INITDB_ROOT_PASSWORD=rootpassword
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_DATABASE=domain_manager_dev

# MongoDB
DB_HOST=db
DB_PORT=27017
DB_PW=rootpassword
DB_USER=root
MONGO_TYPE=MONGO # Other option is DOCUMENTDB

# AWS Setup
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

# S3
TEMPLATE_BUCKET=
WEBSITE_BUCKET=

# Notifications
SES_ASSUME_ROLE_ARN=
SMTP_FROM=

# COGNITO
AWS_COGNITO_ENABLED=0
AWS_COGNITO_USER_POOL_ID=
AWS_COGNITO_USER_POOL_CLIENT_ID=
AWS_DEFAULT_USER_TO_ADMIN=0
AWS_COGNITO_ADMIN_GROUP_NAME=admin

# Gunicorn
WORKERS=4

# Static gen
STATIC_GEN_URL=http://localhost:8000

# About versioning
DEPLOYED_DATE=
API_COMMIT_ID=
UI_COMMIT_ID=
