# Flask
FLASK_APP=main
FLASK_ENV=development
DEBUG=1

# Initialize DB
MONGO_INITDB_ROOT_PASSWORD=rootpassword
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_DATABASE=domain_manager_dev

# MongoDB
DB_HOST=db
DB_PORT=27017
DB_PW=rootpassword
DB_USER=root
MONGO_TYPE=MONGO # Other option is DOCUMENTDB

SSH_ENABLED=1
SSH_DB_HOST=
SSH_DB_PORT=27017
SSH_DB_PW=
SSH_DB_USER=
SSH_PRIVATE_KEY=/var/www/team-inl-key.pem
SSH_USERNAME=ec2-user
SSH_ADDRESS=
SSH_PORT=22

# AWS Setup
AWS_ACCESS_KEY_ID=changeme
AWS_SECRET_ACCESS_KEY=changeme
AWS_REGION=us-east-1
TEMPLATE_BUCKET=changeme
WEBSITE_BUCKET=changme
SQS_CATEGORIZE_URL=
SQS_CHECK_CATEGORY_URL=

# COGNITO
AWS_COGNITO_ENABLED=0
AWS_COGNITO_USER_POOL_ID=
AWS_COGNITO_USER_POOL_CLIENT_ID=
AWS_DEFAULT_USER_TO_ADMIN=0
AWS_COGNITO_ADMIN_GROUP_NAME=admin


# Browserless
BROWSERLESS_ENDPOINT=dm-broswerless:3000
MAX_CONCURRENT_SESSIONS=10

# Gunicorn
WORKERS=4

# 2Captcha
TWO_CAPTCHA=changeme

# Static gen
STATIC_GEN_URL=http://host.docker.internal:8000
